@model int

@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Sum of 1 and 2 is @Model
</h1>


@section rightMenu
{
    <ul>
        <li>منوی 1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>منوی 5</li>
    </ul>
}
