@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">داشبورد</a>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="Index">پرسنل</a>
        </li>
    }
</ul>