@{

}

<form class="row g-3">
    <div class="col-md-6">
        <label for="_firstname" class="form-label">نام</label>
        <input type="text" class="form-control" id="_firstname">
    </div>
    <div class="col-md-6">
        <label for="_lastname" class="form-label">نام خانوادگی</label>
        <input type="text" class="form-control" id="_lastname">
    </div>
    <div class="col-md-6">
        <label for="_mobile" class="form-label">موبایل</label>
        <input type="text" class="form-control" id="_mobile" placeholder="1234 Main St">
    </div>
    <div class="col-md-6">
        <label for="_city" class="form-label">شهر</label>
        <input type="text" class="form-control" id="_city">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success">ذخیره</button>
    </div>
</form>